/*--------------------------------------------------------------
# Home
--------------------------------------------------------------*/
section {
  padding:4rem 1.5rem;
}

//quicklinks
ul.quicklinks {
  @include flex-row;
  @include row-space-between;
  list-style-type:none;

  li {
    width:18%;
    text-align:center;
    margin:0 auto;
    @include flex-column;

    &:hover, &:focus {
      span {
        background:$purple;
      }
    }


    &:not(:last-child) {
      border-right:1px solid $purple;
    }

    a {
      @include font-stack-full($source-sans, 2.2rem, 2.4rem, 500);
      color:$purple;
      text-decoration:none;
      @include flex-column;

      &:hover, &:focus {
        text-decoration:none;
      }

      span {
        background:$light-purple;
        color:$white;
        padding:2rem;
        border-radius:50%;
        width:70px;
        height:70px;
        font-size:60px;
        margin:2rem auto;

        &:hover, &:focus {
          text-decoration:none !important;
          background:$purple;
        }
      }
    }

    @include lg {
      width:30%;

      &:not(:last-child) {
        border-right:none;
      }
    }

    @include phone-xl {
      width:100%;

      &:not(:last-child) {
        border-right:none;
      }
    }
  }
}

//about
section.about {
  background:$tan;
}

//full width cta
section.full-width-cta {
  background-image:url('../img/home/pexels-this-is-zun-3653269.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  height:60vh;
  width:auto;
  position:relative;

  .overlay {
    @include absCenter;
    padding:7rem;
    background:rgba($white,.8);
    max-width:50vw;
    height:auto;
    text-align:center;
  }

  @include lg {
    height:60vh;

    .overlay {
      max-width:60vw;
      width: 100%;
      padding:3rem;
    }
  }
}


//featured news
.news-item {
  width:30%;
  background:$tan;

  h4 a {
    text-decoration:none;
    margin:1rem 0;
  }

  .news-item-text {
    padding:2rem;

    a.blue-underline {
      @include font-stack-full($source-sans, 1.6rem, 2.4rem, 400);
      color:$blue;
    }
  }

  @include lg {
    width:45%;
    margin:1rem;
  }

  @include phone-xl {
    width:100%;
    margin:1rem;
  }
}