/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
a.skip-link {
  margin-left: -20rem;
    top: -1%;
    height: 0;
    font-size: 0;
}

header {
  margin-top:-2rem;
  section.top-bar {
    background:$light-purple;
    padding:0rem;
    
    nav.top-bar-nav {
        ul {
          margin-left:auto;
          @include flex-row;
          @include row-space-between;
          list-style-type:none;
          justify-content:right;
          margin-left:auto;
      
    
            li {
              &:not(:last-child) {
                padding-right: 0.5rem;
              }

              @include font-stack-full($source-sans, 1.8rem, 2.4rem, 400);
              color:$white;
    
              a {
               @include font-stack-full($source-sans, 1.8rem, 2.4rem, 400);
                color:$white;
                text-decoration:none;
                padding:0 1rem;

                span {
                  vertical-align:middle;
                  font-size:2rem;
                  color:$white;
                }

          
    
                &:hover, &:focus {
                 color:$white;
                 text-decoration:underline;
                }
              }
            }
    
            @include lg {
              display:inline-flex !important;
              margin-left:auto;
            }
        }
       }
    }


section.main-nav {
  background:$purple;
  padding:0rem;

nav.main-navigation {
  @include flex-row;
  @include row-space-between;
  @include align-center;

    #logo {
        flex:1;

        img {
            width:auto;
            height:auto;
            max-height:70px;
           }
        }
    

    ul {
      margin-left:auto;
      @include flex-row;
      @include row-space-between;
      list-style-type:none;
      justify-content:right;
      margin-left:auto;
  

        li {
          margin-right: 4rem;

          &:last-child {
          margin-right: .5rem;
          }

          a {
           @include font-stack-full($source-sans, 2.2rem, 2.4rem, 400);
            color:$white;
            text-decoration:none;
            padding:0 1rem;


            &:hover, &:focus {
             color:$white;
             text-decoration:underline;
            }

            @include phone-xl {
              font-size:1.4rem;
            }
          }

          @include phone-xl {
           margin-right:1.3rem;
          }
        }

        @include lg {
          display:inline-flex !important;
          margin-left:auto;
        }
    }
   }
 }
}