@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin absLeft {
    position: absolute;
    top: 30%;
    left: 20%;

    @include lg {
      left: 0%;
      padding:2rem;
      width:100%;
  }
}

//FLEX CLASSES
@mixin flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
   -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@mixin display-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
      flex-direction: column;
}

@mixin flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
      flex-direction: row;
}

@mixin row-reverse {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
}

@mixin row-reverse-mobile {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
}

@mixin align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-align: center;
 -webkit-align-content: center;
  align-content: center;
}

@mixin align-top {
  align-items: flex-start;
  -webkit-align-items: flex-start;
  align-content: flex-start;
  -webkit-align-content: flex-start;
  -webkit-box-align: start;
}

 @mixin row-space-between {
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
}

@mixin row-space-around {
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around;
}

 @mixin row-space-evenly {
  -webkit-justify-content: space-evenly;
  justify-content: space-evenly;
  -ms-flex-pack: space-evenly;
}

@mixin justify-centered {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@mixin justify-left {
  -webkit-justify-content: left;
  -ms-flex-pack: left;
  justify-content: left;
}

@mixin justify-right {
  -webkit-justify-content: right;
  -ms-flex-pack: right;
  justify-content: right;
}

@mixin justify-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

//FONT MIXINS
@mixin font-stack($size, $line-height, $weight:null) {
  font-size:$size;
  line-height:$line-height;
  font-weight:$weight;
}

@mixin font-stack-full($family,$size, $line-height, $weight:null) {
  font-family:$family;
  font-size:$size;
  line-height:$line-height;
  font-weight:$weight;
}

// TRANSITIONS
@mixin transition($value...) {
-webkit-transition: $value;
-moz-transition: $value;
-ms-transition: $value;
transition: $value;
}

@mixin transform($value...) {
-webkit-transform: $value;
-moz-transform: $value;
-ms-transform: $value;
transform: $value;
}

//MEDIA QUERIES
//320
@mixin phone-xs {
  @media (max-width: #{$screen-xs-min}) {
    @content;
  }
}
//576
@mixin phone {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

//650
@mixin phone-xl {
  @media (max-width: #{$phone-xl}) {
    @content;
  }
}

//768
@mixin tablet-portrait {
  @media (max-width: #{$tablet-portrait}) {
    @content;
  }
}

//900
@mixin md {
  @media (max-width: #{$screen-md-min}) {
    @content;
  }
}

//991
@mixin lg {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
}

//1028
@mixin tablet-landscape {
  @media (max-width: #{$tablet-landscape}) {
    @content;
  }
}

//1100
@mixin laptop-sm {
  @media (max-width: #{$screen-laptop-sm}) {
    @content;
  }
}

//1200
@mixin laptop {
  @media (max-width: #{$screen-sm-desktop}) {
    @content;
  }
}

//1350
@mixin med-desktop {
  @media (max-width: #{$screen-md-desktop}) {
    @content;
  }
}

//1600
@mixin desktop {
  @media (max-width: #{$screen-lg-desktop}) {
    @content;
  }
}
