//COLORS
$purple:#512D6D;
$light-purple: #9F5CC0;
$dusty-purple:#A57FB2;
$neon-pink:#F8485E;
$pink-purp-gradient:linear-gradient(270deg, #F8485E 0%, #A57FB2 100%);
$purp-grdient:linear-gradient(270deg, #9F5CC0 0%, #512D6D 100%);
$gray:#3D3935;
$blue:#124D91;
$off-white:#F6F4EE;
$white:#fff;
$black:#000;
$tan:#f6f6f6;

//FONTS
$header-font: 'Varela Round', sans-serif;
$source-sans: 'Source Sans Pro', sans-serif;

//TRANSITIONS
$slowly: all .2s ease;

//VIEWPORTS
// iPhone 6,7,8 (portrait)
$screen-xs-min: 350px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Large Phone
$phone-xl: 650px;

// Small tablets (portrait view)
$tablet-portrait: 768px;

// Medium for tablet
$screen-md-min: 900px;

// Tablets and small desktops
$screen-lg-min: 991px;

// landscape tablet (language view)
$tablet-landscape: 1028px;

// Large tablets and desktops
$screen-laptop-sm: 1100px;

// Large tablets and desktops
$screen-sm-desktop: 1200px;

// Medium Desktop
$screen-md-desktop: 1350px;

// XL screens
$screen-lg-desktop: 1600px;